<script setup lang="ts">
import { RouterLink, RouterView } from "vue-router";
import HelloWorld from "./components/HelloWorld.vue";
import Calcomponent from "./components/Calcomponent.vue";
import HelloWorldExample from "./components/HelloWorldExample.vue";
import HandlingUserInput from "./components/HandlingUserInput.vue";
import AttributeBindings from "./components/AttributeBindings.vue";
import ConditionsAndLoops from "./components/ConditionsAndLoops.vue";
import FormBinding from "./components/FormBinding.vue";
import SimplrComponent from "./components/SimpleComponent.vue";
</script>

<template>
  <div>
    <SimplrComponent />
    <br />
    <br />
    <FormBinding />
    <br />
    <br />
    <ConditionsAndLoops />
    <br />
    <br />
    <AttributeBindings />
    <HandlingUserInput />
    <Calcomponent />
    <HelloWorldExample />
  </div>
</template>

<style scoped>
.red {
  color: red;
}
</style>
